@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <input id="search" type="text" value="">
    <select name="sort-select" id="sort-select">
        <option value="book">Book</option>
        <option value="topic">Topic</option>
    </select>

    <button id="launch-add-modal">Add Quote</button>

    <div id="quotes" class="px-5 mt-3"></div>
</div>
