:root {
  font-size: 16px;
  position: relative;
  min-height: 100%;
  --light: #e6e797;
  --dark: rgb(3, 8, 31);
  --success: rgb(161, 209, 161);
  --secondary: rgb(167, 167, 167);
}

body {
  color: var(--light);
  background-color: var(--dark);
}

input[type="text"] {
  color: var(--dark);
  background-color: var(--light);
}

.button {
  padding: 5px 10px;
  border-radius: 15px;
  transition: all 0.5s;
}

.button.primary {
  color: var(--dark);
  background-color: var(--light);
  border: 1px solid var(--dark);
}

.button.primary:hover {
  color: var(--light);
  background-color: var(--dark);
  border: 1px solid var(--light);
  box-shadow: 0px 0px 10px var(--light);
}

.button.success {
  color: var(--dark);
  background-color: var(--light);
  border: 1px solid var(--dark);
}

.button.success:hover {
  color: var(--dark);
  background-color: var(--success);
  border: 1px solid var(--success);
  box-shadow: 0px 0px 10px var(--success);
}

.button.secondary {
  color: var(--dark);
  background-color: var(--light);
  border: 1px solid var(--dark);
}

.button.secondary:hover {
  color: var(--dark);
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  box-shadow: 0px 0px 10px var(--secondary);
}

header h1 a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--light);
}

nav a {
  text-decoration: none;
  color: var(--light);
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--light);
  transition: all 0.5s;
  border: 1px solid var(--light);
}

nav a:hover {
  color: var(--light);
  box-shadow: 0px 0px 10px var(--light);
  padding: 5px 20px;
}

.header-img {
  height: 100px;
}

.quote-row {
  border: 1px solid var(--light);
}

.quote-row .quote-text {
  font-size: 1.25rem;
}

.quote-row ul {
  list-style: none;
}

.quote-row ul li {
  border: 1px solid var(--light);
  border-radius: 25px;
  transition: all 0.5s;
  cursor: pointer;
}

.quote-row ul li:hover {
  background-color: var(--light);
  color: var(--dark);
}


/* Book Page CSS */
#book-list {
  list-style: none;
}

#book-list li {
  border: 1px solid var(--light);
  cursor: grab;
}

#book-list li a {
  text-decoration: none;
  color: var(--light);
  font-size: 1.5rem;
  transition: all 0.25s;
}

#book-list li a:hover {
  opacity: 0.5;
}

/* Book details */
#book-details {
  border: 1px solid var(--light);
  border-radius: 7px;
}

#book-details {
  border-bottom: 1px solid var(--light);
}

#title-input {
  height: 3.4rem;
  font-size: 2.5rem;
  font-weight: bold;
  border: 1px solid var(--light);
  text-align: center;
}

#author-input {
  height: 2.8rem;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid var(--light);
  text-align: center;
}